.container{
    display: block;
    justify-content: center;
    border: 1px solid;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.button-style{
    height: 30px;
}