<div class="container">
  <div class="header">
    <h3>{{appTitle}}</h3>
    <button class="button-style" (click)="onButtonHide()">X</button>
  </div>
<br/>

  <div class="d-flex justify-content-between">
     <div></div>
     <!-- <a routerLink="/form" routerLinkActive="active">Form</a> -->
    <button class="btn btn-primary" (click)="openModal()">Add User Details</button>
  </div>
  <br/>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.website }}</td>
        <td>{{ user.company.name }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="editUser(user)">
            Edit
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isModalOpen" class="modal fade show d-block" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add User Details</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="userName" class="form-label">Name</label>
            <input
              type="text"
              id="userName"
              class="form-control"
              [(ngModel)]="user.name"
              name="name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="usersName" class="form-label">User Name</label>
            <input
              type="text"
              id="usersName"
              class="form-control"
              [(ngModel)]="user.userName"
              name="userName"
              required
            />
          </div>
          <div class="mb-3">
            <label for="userEmail" class="form-label">Email</label>
            <input
              type="email"
              id="userEmail"
              class="form-control"
              [(ngModel)]="user.email"
              name="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="userPhone" class="form-label">Phone</label>
            <input
              type="phone"
              id="userPhone"
              class="form-control"
              [(ngModel)]="user.phone"
              name="phone"
              required
            />
          </div>
          <div class="mb-3">
            <label for="userWebsite" class="form-label">Website</label>
            <input
              type="website"
              id="userWebsite"
              class="form-control"
              [(ngModel)]="user.website"
              name="website"
              required
            />
          </div>
          <div class="mb-3">
            <label for="userCompany" class="form-label">Company</label>
            <input
              type="company"
              id="userCompany"
              class="form-control"
              [(ngModel)]="user.company"
              name="company"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveUser()">Save</button>
      </div>
    </div>